[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=salihovm
Group=salihovm

WorkingDirectory=/home/salihovm/Salihov777/
Environment="PYTHONPATH=/home/salihovm/Salihov777/"
ExecStart=/home/salihovm/Salihov777/.myvenv/bin/python /home/salihovm/Salihov777/bot.py

[Install]
WantedBy=multi-user.target
